* {
    margin: 0;
    padding: 0;
}



/* ETIQUETAS GENERALES */
body {
    font-size: 90%;
    font-family: 'Jost', sans-serif;
}

footer {
    max-width: 95%;
    background-color: #203d57;
    margin-top: 0.5em;
    border-radius: 1em;
    padding: 0.5em;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 2em;
    padding: .2em;
}


/* .CLASS */

/* HEADER */

.masInfo {
    color: #fff;
}

.cabezera {
    max-width: 100%;
}

.logoRF {
    max-width: 85%;
}

.contenedorLogo {
    text-align: center;
    margin: 1%;
}

.contenedorMenu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenedorMenu a {
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(105, 177, 239, 0.81), rgba(105, 177, 239, 0.81), rgba(105, 177, 239, 0.81));
    display: block;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 3em;
    padding-top: 5%;

}

.contenedorMenu a:hover {
    background: linear-gradient(to bottom, rgba(65, 109, 147, 1), rgba(105, 177, 239, 0.81), rgba(105, 177, 239, 0.81));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 3em;
}


.contenedorMenu li {
    list-style: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    justify-content: center;
    padding: 0.0em;
    display: block;
    width: 24%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buscador {
    max-width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingresoDeDatos {
    background-color: #e8eae9;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 2em;
}

.lupa {
    background-color: #c3c0c0;
    width: 2em;
    height: 2em;
    padding: 0.4em;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
}



/* SECCIONES */


.tituloHospitales {
    text-align: center;
    font-size: 1.2em;
    color: rgba(65, 109, 147, 1)
}



.mapaHospital {
    max-width: 100%;
    text-align: center;
}

.mapaGoogle {
    width: 90%;
    height: 30em;
    border-radius: 1em;
}



/* FOOTER */

.footerMenu {

    font-family: 'Jost', sans-serif;
    font-size: 10px;
    padding: 5px 10px 10px 10px;
    width: 25%;
    display: none;
}

.footerMenu li {
    list-style: none;
    margin-bottom: 5px;
}

.footerMenu a {
    text-decoration: none;
    color: #69b1ef;
}

.footerText {

    font-family: 'Jost', sans-serif;
    font-size: 0.8em;
    color: #c7dff4;
    padding: 5px 10px 10px 10px;
    width: 100%;
}

.whattsap {
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    color: #69b1ef;
    font-weight: 600;
    height: 10px;
    line-height: 15px;
    margin-right: 10%;
}

.direccionFacebook {
    color: #69b1ef;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin-right: 20%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    margin-left: .5em;
}

.contenedorMenuWeb {
    display: none;
}







.buscadorEnfermedades {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ede8e8;

    border-radius: .5em;
}


.lupaEnfermedades {
    background-color: #69b1ef;
    width: 30px;
    height: 30px;
    padding-top: 7px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    color: #fff;


}


.ingresoDeDatosEnfermedades {
    height: 26px;
    background-color: #e8eae9;
    width: 300px;
    border-bottom-left-radius: 10px;
}









/* SECCIONES */

. .pDeArticulos {
    font-size: 1em;
}

.hDeArticulos {
    font-size: 1.3em;
}






/* FOOTER */

.footerMenu {

    font-family: 'Jost', sans-serif;
    font-size: 10px;
    padding: 5px 10px 10px 10px;
    width: 25%;
    display: none;
}

.footerMenu li {
    list-style: none;
    margin-bottom: 5px;
}

.footerMenu a {
    text-decoration: none;
    color: #69b1ef;
}

.footerText {

    font-family: 'Jost', sans-serif;
    font-size: 0.8em;
    color: #c7dff4;
    padding: 5px 10px 10px 10px;
    width: 100%;
}

.whattsap {
    font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    color: #69b1ef;
    font-weight: 600;
    height: 10px;
    line-height: 15px;
    margin-right: 10%;
}

.direccionFacebook {
    color: #69b1ef;
    font-family: 'Jost', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    margin-right: 20%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    margin-left: .5em;
}

.contenedorMenuWeb {
    display: none;
}



/* MEDIAQUERY 47 -----------------------------------------*/

@media screen and (min-width:47em) {

    /* ETIQUETAS GENERALES*/
    body,
    header {
        max-width: 100%;
    }



    /* HEADER */


    .cabezera {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logoRF {
        max-width: 100%;
    }

    .contenedorLogo {
        text-align: center;
        margin: 1%;
        width: 20%;
    }

    .buscador {
        max-width: 20%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
    }

    .contenedorMenu {
        display: none;
    }

    .contenedorMenuWeb {
        display: flex;
    }

    .contenedorMenuWeb a {
        text-decoration: none;
        color: #69b1ef;
        padding-top: 30%;
        padding-bottom: 10%;
        display: block;
        width: 100%;
    }

    .contenedorMenuWeb a:hover {
        background: linear-gradient(to bottom, rgba(65, 109, 147, 1), rgba(105, 177, 239, 0.81), rgba(105, 177, 239, 0.81));
        color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: block;
        width: 100%;
    }

    .hospDis {
        background: linear-gradient(to bottom, rgba(65, 109, 147, 1), rgba(105, 177, 239, 0.4), rgba(105, 177, 239, 0.0));
        color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: block;
        width: 100%;

    }



    .contenedorMenuWeb li {
        list-style: none;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-size: 90%;
        display: flex;
        justify-content: center;
        max-width: 100%;
        display: block;
        width: 100%;
    }

    .contenedorMenuWeb ul {
        display: flex;
        justify-content: center;
        width: 30em;
    }


    /* SECCIONES */
    .gradiente {
        width: 100%;
        height: 1em;
        background: linear-gradient(to bottom, rgba(100, 100, 100, 1), rgba(255, 255, 255, 1));

    }



    .col {
        display: grid;

        margin: auto;
        grid-template-columns: repeat (1fr);
        grid-template-rows: max-contains;


    }

    .h1 {
        grid-column: 1 /4;
        grid-row: 1;

        margin-left: 2em;
        margin-right: 2em;
        border-radius: 1em;
        height: 3.5em
    }


    .tituloHospitales {
        text-align: center;
        font-size: 1.7em;
        color: rgba(65, 109, 147, 1)
    }

    .mapaGoogle {
        width: 90%;
        height: 42em;
        border-radius: 1em;
    }



    /* FOOTER */

    .footerMenu {
        font-family: 'Jost', sans-serif;
        font-size: .8em;
        padding: 1% 2%;
        width: 20%;
        display: flex;
        text-align: center;
    }

    .footerMenu a {
        text-decoration: none;
        color: #69b1ef;
    }

    .footerMenu a:hover {
        text-decoration: none;
        color: #fff;
    }



    .redes {
        width: 28%;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
        height: 6em;
        margin-left: 0;
    }


    .footerText {
        font-family: 'Jost', sans-serif;
        font-size: .8em;
        color: #69b1ef;
        padding: 1% 2%;
        width: 40%;
    }

    .direccionFacebook {
        color: #69b1ef;
        font-weight: 500;
        margin-left: 1em;
        font-family: 'Jost', sans-serif;
        height: .8em;
        font-size: 1em;
        line-height: 1em;
        width: 60%;
        margin-right: 0;
    }

    .whattsap {
        font-family: 'Jost', sans-serif;
        font-size: 1em;
        color: #69b1ef;
        font-weight: 900;
        margin-left: .8em;
        height: .8em;
        line-height: 1em;
        width: 70%;
        margin-right: 0;
    }




    .fab {
        margin-left: 40%;
    }

    .logoFace {
        width: 30%;
    }

    .logoWS {
        width: 20%;
    }






    /* MEDIAQUERY 60 -----------------------------------------*/
    @media screen and (min-width:60em) {

        /* ETIQUETA GENERAL */

        body,
        header {
            max-width: 100%;
        }

        .cabezera {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }


        /* HEADER */

        .logoRF {
            max-width: 100%;
        }

        .contenedorLogo {
            text-align: center;
            margin: 1%;
            width: 20%;
        }

        .buscador {
            max-width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .lupa {
            background-color: #c3c0c0;
            width: 2em;
            height: 2em;
            padding: 0.4em;
            box-sizing: border-box;
            border-bottom-right-radius: 10px;
        }

        .contenedorMenu {
            display: none;
        }

        .contenedorMenuWeb {
            display: flex;
        }

        .contenedorMenuWeb a {
            text-decoration: none;
            color: #69b1ef;
            padding-top: 30%;
            padding-bottom: 10%;
            display: block;
            width: 100%;
        }

        .contenedorMenuWeb a:hover {
            background-color: rgb(105, 177, 239);
            color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: block;
            width: 100%;
        }

        .contenedorMenuWeb li {
            list-style: none;
            text-align: center;
            font-family: 'Jost', sans-serif;
            font-size: 100%;
            display: flex;
            justify-content: center;
            max-width: 100%;
            display: block;
            width: 100%;
        }

        .contenedorMenuWeb ul {
            display: flex;
            justify-content: center;
            width: 40em;
        }

    /* FOOTER */

    footer {
        max-width: 90%;
        background-color: #203d57;
        margin-top: 0.5em;
        border-radius: 1em;
        padding: 0.5em 5em;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .fab {
        margin-left: 40%;
    }



    /* MEDIAQUERY 70 -----------------------------------------*/
    @media screen and (min-width:70em) {

        /* ETIQUETA GENEARAL */

        body,
        header {
            max-width: 100%;
        }

        /* FOOTER */

        footer {
            max-width: 90%;
            background-color: #203d57;
            margin-top: 0.5em;
            border-radius: 1em;
            padding: 0.5em 6em;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .direccionFacebook {
            color: #69b1ef;
            font-weight: 500;
            margin-left: 0;
            font-family: 'Jost', sans-serif;
            height: .8em;
            font-size: 1.4em;
            width: 70%;
        }

        .whattsap {
            font-family: 'Jost', sans-serif;
            font-size: 1.3em;
            color: #69b1ef;
            font-weight: 900;
            margin-left: 0em;
            height: .8em;
            line-height: 1em;
            width: 70%;
        }

        .fab {
            margin-left: 40%;
        }